<body>
    <header>
        <h3>800 <b>Pokemons</b> for you choose your favorite</h3>
        <form class="search" type="submit">
            <label for="searchPoke"></label>
            <input id="searchPoke" placeholder="Find your Pokemon" (input)="atualizarValorinput($event)">

            <select name="type" id="type">
                <option value="Fire">Fire</option>
                <option value="Normal">Normal</option>
                <option value="Electric">Electric</option>
                <option value="Water">Water</option>
            </select>

            <button (click)="getPokeInfo($event)">Search</button>
        </form>
    </header>
    <main>
        <div class="cards">


            <div class="cardContainer" *ngFor="let pokemon of pokemons">
                <div class="cardText">
                    <div class="title">
                        <span [attr.pokeName]="">{{pokemon.pokeName}}</span>
                    </div>
                    <div class="ability">
                        <div class="attack">
                            <span [attr.weight]="weight">{{pokemon.weight}}</span>
                            <span>weight</span>
                        </div>
                        <div class="defense">
                            <span [attr.height]="height">{{pokemon.height}}</span>
                            <span>height</span>
                        </div>
                    </div>
                    <div class="types">
                        <div class="type">

                            <span *ngFor="let type of pokemon.types"
                                [attr.primaryType]="type.type.name">{{type.type.name}}</span>

                        </div>

                    </div>
                </div>
                <div class="pokeImg">

                    <img [src]="pokemon.image" alt="pokemon.pokeName">
                    <ng-content></ng-content>
                </div>
            </div>
        </div>

    </main>
</body>