<div class="cardContainer" [class]="cardModel">
    <div class="cardText">
        <div class="title">
            <span [attr.pokeName]="pokeName">{{"Pikachu"}}</span>
        </div>
        <div class="ability">
            <div class="attack">
                <span [attr.attackPower]="attackPower">{{14}}</span>
                <span>attack</span>
            </div>
            <div class="defense">
                <span [attr.defensePower]="defensePower">{{14}}</span>
                <span>defense</span>
            </div>
        </div>
        <div class="types">
            <div class="type">
                <span [attr.primaryType]="primaryType">{{"grass"}}</span>
            </div>
            <div class="type">
                <span [attr.secondaryType]="secondaryType">{{"poison"}}</span>
            </div>
        </div>
    </div>
    <div class="pokeImg">

        <img src="../../../assets/pokeimg.svg">
        <ng-content></ng-content>
    </div>
</div>