<main>

    <nav>
        <div class="logoImg">
            <img src='../../../assets/poke-logo.svg' alt="pokemon logo" />
        </div>
        <div class="navText">
            <a>Home</a>
            <a>Pokédex</a>
            <a>Legendaries</a>
        </div>
    </nav>
    <div class="container">
        <div class="cta">
            <h1><b>Find</b> all your <br>favorite <b>Pokemon</b></h1>
            <div class="tools">
                <h2>You can know the type of Pokemon,<br> its strengths, disadvantages and <br>abilities</h2>
            </div>
            <button>See pokemons</button>
        </div>
        <img src="../../../assets/banner-poke.svg">
    </div>
</main>